@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Boogaloo&family=Holtwood+One+SC&family=Oleo+Script+Swash+Caps:wght@700&family=Parisienne&family=Playball&family=The+Nautigal:wght@700&family=Vidaloka&display=swap');
*
{
    margin: 0;
    padding: 0;
   block-size: border-box;
} 
body{
    background-color: rgb(231, 218, 218);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: url(./images/istockphoto-1287354629-612x612.jpg);
     background-repeat: no-repeat;
    background-size: cover; 
     overflow: hidden;
    height: 100px;
    }
 #search-form
 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px ;
    
 }
 #temp
 {
    text-align: center;
 }

#temp #temp-value 
 {
    
    font-size: 2.5rem; 
    color: rgb(34, 32, 32);
    text-align: center;
}  
#climate #location
{
    
    font-size: 2.5rem; 
    color: rgb(34, 32, 32);
    text-align: center;
}
#temp-icon
{
    margin: 1rem;
    width: 40%;
    height: auto;
}
.container-bx
{
    padding:20px;
    margin-top:10px;
    background-color: rgb(192, 199, 204);
    border-radius: 12px;
    width:360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 1px  rgb(157, 157, 155);
}

button
{
   color: antiquewhite;
   border-color: aliceblue;
   display:inline;
   color: black;
   width: 40px;
   height: 30px;
  
   
}
button:hover
{
    color: aqua;
    transition: all 0.4s ease 0s;
    background-color: rgb(106, 105, 103);
}
